.header-container {
    display: flex;
    justify-content: space-between;
}

.headerName {
    font-size: 36px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}